[package]
name = "google-cloud-bigquery"
version = "0.1.0"
edition = "2021"
authors = ["yoshidan <naohiro.y@gmail.com>"]
repository = "https://github.com/yoshidan/google-cloud-rust/tree/main/bigquery"
keywords = ["gcp","bigquery","googleapis","google-cloud-rust"]
license = "MIT"
readme = "README.md"
description = "Google Cloud Platform bigquery client library."
documentation = "https://docs.rs/google-cloud-bigquery/latest/google_cloud_bigquery/"

[dependencies]
async-trait = "0.1"
google-cloud-token = { version = "0.1.0", path = "../foundation/token" }
google-cloud-googleapis = { version="0.9.0", path = "../googleapis", features=["bigquery"]}
google-cloud-gax = { version = "0.14.1", path = "../foundation/gax"}
thiserror = "1.0"
tracing = "0.1"
reqwest = { version = "0.11", features = ["json", "stream", "multipart"], default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version="1.20", features=["macros"] }
time = { version = "0.3", features = ["std", "macros", "formatting", "parsing", "serde"] }
arrow = { version="40.0", default-features = false, features = ["ipc"] }

[dev-dependencies]
tokio = { version="1.20", features=["rt-multi-thread"] }
serial_test = "0.9"
tracing-subscriber = "0.3.11"
ctor = "0.1.22"
tokio-util =  {version ="0.7", features = ["codec"] }
google-cloud-auth = { path = "../foundation/auth" }

[features]
default = ["default-tls"]
default-tls = ["reqwest/default-tls"]
rustls-tls = ["reqwest/rustls-tls"]
trace = []
