[package]
name = "google-cloud-auth"
version = "0.4.2"
authors = ["yoshidan <naohiro.y@gmail.com>"]
edition = "2021"
repository = "https://github.com/yoshidan/google-cloud-rust/tree/main/foundation/auth"
keywords = ["gcp","auth","googleapis","google-cloud-rust"]
license = "MIT"
readme = "README.md"
description = "Google Cloud Platform server application authentication library."

[dependencies]
tracing = "0.1"
reqwest = { version="0.11", features = ["json"], default-features = false }
chrono = "0.4"
serde = { version = "1.0", features = ["derive"] }
json = { package = "serde_json", version = "1.0" }
jwt = { package = "jsonwebtoken", version = "7" }
thiserror = "1.0"
async-trait = "0.1"
home = "0.5"
urlencoding = "2.1"
tokio = { version = "1.20", features = ["fs"]}
google-cloud-metadata = { version = "0.3.1", path = "../metadata", default-features = false }

[dev-dependencies]
tokio = { version = "1.20", features = ["test-util", "rt-multi-thread", "macros"]}
base64 = "0.13"

[features]
default = ["default-tls"]
default-tls = ["reqwest/default-tls", "google-cloud-metadata/default-tls"]
rustls-tls = ["reqwest/rustls-tls", "google-cloud-metadata/rustls-tls"]
