[package]
name = "google-cloud-pubsub"
version = "0.7.0"
authors = ["yoshidan <naohiro.y@gmail.com>"]
edition = "2021"
repository = "https://github.com/yoshidan/google-cloud-rust/tree/main/pubsub"
keywords = ["gcp","pubsub","googleapis","google-cloud-rust"]
license = "MIT"
readme = "README.md"
description = "Google Cloud Platform pubsub client library."
documentation = "https://docs.rs/google-cloud-pubsub/latest/google_cloud_pubsub/"

[dependencies]
tracing = "0.1"
prost-types = "0.11"
prost = "0.10"
tokio = "1.20"
async-channel = "1.6"
async-stream = "0.3"
thiserror = "1.0"

google-cloud-auth = { version = "0.5.0", path = "../foundation/auth", default-features = false }
google-cloud-gax = { version = "0.9.0", path = "../foundation/gax", default-features = false }
google-cloud-googleapis = { version = "0.6.0", path = "../googleapis", features = ["pubsub"]}

[dev-dependencies]
tokio = { version="1.20", features=["rt-multi-thread"] }
rand = "0.8.5"
tracing-subscriber = "0.3"
serial_test = "0.9"
anyhow = "1.0.48"
uuid = { version="1.1", features=["v4"] }
ctor = "0.1.21"

[features]
default = ["default-tls"]
default-tls = ["google-cloud-auth/default-tls", "google-cloud-gax/default-tls"]
rustls-tls = ["google-cloud-auth/rustls-tls", "google-cloud-gax/rustls-tls"]
trace = []
