[package]
name = "google-cloud-pubsub"
version = "0.1.0"
authors = ["yoshidan <naohiro.y@gmail.com>"]
edition = "2021"
repository = "https://github.com/yoshidan/google-cloud-rust/tree/main/pubsub"
keywords = ["gcp","pubsub","googleapis","google-cloud-rust"]
license = "MIT"
readme = "README.md"
description = "Google Cloud Platform pubsub client library."
documentation = "https://docs.rs/google-cloud-pubsub/0.1.0/google-cloud-pubsub/"

[dependencies]
log = "0.4"
tonic = { version = "0.6", features = ["tls", "prost"] }
prost = "0.9"
prost-types = "0.9"
tokio = { version = "1.14", features = ["full"] }
chrono = "0.4"
thiserror = "1.0"
async-trait = "0.1"
parking_lot = "0.11"
base64 = "0.13"
anyhow = "1.0"
async-channel = "1.6"
async-stream = "0.3"
tokio-util = "0.7"
tokio-retry = "0.3"

<<<<<<< HEAD
google-cloud-gax = { version = "0.4.0", path = "../foundation/gax" }
google-cloud-googleapis = { version = "0.3.0", path = "../googleapis" }
=======
google-cloud-grpc = { version = "0.2.1", path = "../foundation/grpc" }
google-cloud-googleapis = { version = "0.2.1", path = "../googleapis" }
>>>>>>> main

[dev-dependencies]
env_logger = "0.9"
serial_test = "0.5.1"
anyhow = "1.0.48"
uuid = { version="0.8.2", features=["v4"] }
ctor = "0.1.21"